@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacFontSystem, Segoe UI, Roboto, Oxygen,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.hamburger {
  transition: all 0.25s;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  right: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  position: fixed;
  top: 50px;
  right: 25px;
  z-index: 999;
}

.open .hamburger-top {
  background: #fff;
  transform: rotate(45deg);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  background: #fff;
  transform: rotate(-45deg);
}
